---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import favicon from "../assets/favicon.png";
import "../styles/global.css";
interface Props {
  title: string;
  fullscreen?: boolean;
}
const { title, fullscreen = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <ClientRouter />
    <Font cssVariable="--font-space-mono" preload />
  </head>
  <body>
    <Navbar />
    {
      fullscreen ? (
        <slot />
      ) : (
        <main>
          <slot />
        </main>
      )
    }
  </body>
</html>
